{% include base_path %}

<div class="footer-links">
  <a href="{{ base_path }}/donate/"><i class="fas fa-donate"></i>Donate</a>
  <a href="https://gitlab.com/walletscrutiny/walletScrutinyCom"><i class="fab fa-gitlab" aria-hidden="true"></i>GitLab</a>
  <a href="https://discord.gg/yCNdcSJw9k"><i class="fab fa-discord"></i>Discord</a>
  <a href="https://snort.social/p/npub1j9kttlc86w63emmldd4h74rekyqpksqup6p9trhp5gjsf374qlyszvuswx"><i class="fab fa-nostr" aria-hidden="true"></i>Nostr</a>
  <a href="https://twitter.com/{{ site.twitter.username }}"><i class="fab fa-twitter-square" aria-hidden="true"></i>Twitter</a>
  <a href="mailto:info@WalletScrutiny.com"><i class="fas fa-envelope"></i>E-Mail</a>
  <a href="https://www.reddit.com/r/WalletScrutiny"><i class="fab fa-reddit"></i>Reddit</a>
</div>
