/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  // float: left;
  margin: 0;
  // margin-right: 0;
  width: 100%;
  clear: both;
  // bottom: 0em;
  // height: auto;
  color: var(--permanent-white);
  // -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  // animation-delay: 0s;
  // -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: #222;

  .footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 17px;
    @media (max-width: $small) {
      justify-content: left;
      flex-direction: column;
      padding: 10px;
    }
    a {
      // color: inherit;
      text-decoration: none;
      // background: #333;
      // padding: 4px 8px;
      // border-radius: 8px;
      // margin-right: 1rem;
      // margin-bottom: 1rem;

      &:hover {
        text-decoration: underline;
      }
      i {
        display: none;
      }
    }
  }

  footer {
    @include clearfix;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 2em;
    // max-width: 100%;
    // padding: 0 1em 2em;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: var(--accent-text);
    text-decoration: none;

    &:hover {
      // text-decoration: underline;
    }
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  // font-size: $type-size-7;
  font-size: 17px;
  opacity: 0.5;
  text-align: center;
  max-width: 80vw;
  display: block;
  margin: 10px auto;
  @media (max-width: $small) {
    max-width: unset;
    text-align: left;
    padding: 10px;
  }
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
