{% assign authors = include.authors | default: page.authors %}
{% if authors %}
  <p>
  Tests performed by {% for a in authors %}{%
    if forloop.index > 1 %}, {%
    endif %}{%
    assign author = site.authors | where: 'slug', a | first %}{%
    if author %}<a href="/authors/{{ a }}">{{ author.name }}</a>{%
    else %}{{ a }}{%
    endif %}{%
  endfor %}</p>
{% endif %}
